.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 74px;
    align-items: center;
    background-color: #FFF;
    border-bottom: 1px solid rgb(219 211 211);
    position: fixed;
    top: 0px;
    left: 0px;

    .header__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1200px;

        .header__left {
            width: 33.33%;
            display: flex;
            justify-content: flex-start;
    
            .header__logo {
                width: 126px;
                height: 37px;
                object-fit: cover;
            }
        }

    } 
}

.recovery__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 130px;

    .login__wrapper {
        width: 450px;
        background-color: #FFFFFF;
        border: 2px solid #e9e9e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px 20px;
        padding-bottom: 0px;

        .login__logo {
            height: 150px;
            width: 150px;
            object-fit: contain;
            margin-bottom: 8px;
        }

        .recover__text {
            width: 80%;
            text-align: center;
            color: #b9b6b6;
        }

        .login__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;


            .login__input {
                width: 100%;
                line-height: 45px;
                margin-bottom: 10px;
                border: 2px solid #dfdddd;
                border-radius: 4px;
                background-color: #FAFAFA;
                padding: 0px 10px;
                

                &:focus {
                    outline: none;
                    border: 2px solid #b9b6b6;
                }

                &::placeholder {
                    transition: all 0.3s;
                }

                &:focus::placeholder  {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    font-size: 12px;
                    transform: translateY(-12px);
                }
            }

            
        }

        .login__button {
            margin-top: 8px;
            width: 100%;
            line-height: 40px;
            border: none;
            border-radius: 5px;
            background-color: #B2DFFC;
            color: #FFF;
        }

        .divider {
            margin-top: 40px;
            margin-bottom: 20px;
            color: #958E95;
            position: relative;
            width: 80%;
            text-align: center;

            &::before {
                content: '';
                display: block;
                clear: both;
                position: absolute;
                width: 40%;
                height: 1px;
                background-color: #DBDBDB;
                left: 0px;
                top: 8px;
            }

            &::after {
                content: '';
                display: block;
                clear: both;
                position: absolute;
                width: 40%;
                height: 1px;
                background-color: #DBDBDB;
                right: 0px;
                top: 8px;
            }
        }

        .login__with-facebook {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            color: #000;
        }

        .backto__login {
            width: 100%;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            color: #000;
            border: 2px solid #dfdddd;
            background-color: #FAFAFA;
            padding: 18px;
            display: flex;
            justify-content: center;
            margin-top: 80px;
        }

    }

    .login__wrapper--signup {
        padding: 25px 0px 25px;
        font-size: 16px;

        .signup__link {
            font-weight: 500;
            text-decoration: none;
            color: #5AC6FB;
        }
    }

    .login__wrapper--appstore {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .app__text {
            margin-top: 10px;
        }

        .app__alllink {
            display: flex;
            gap: 10px;

            .app__link {


                .app__image {
                    height: 40px;
                }
            }
        }
    }
}
