.reset__password-contianer {
    width: 100%;
    height: 100%;


    .reset__header {
        width: 100%;
        background-color: #437197;
        display: flex;
        justify-content: center;
        align-items: center;

        .header__wrapper {
            width: 70%;
            display: flex;
            justify-content: space-between;

            .header__left-icon {
                text-decoration: none;
                padding: 10px;
                border-left: 2px solid #386183;
                border-right: 2px solid #386183;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #517899;
                }

                .header__icon{
                    width: 35px;
                    height: 35px;
                    color: #FFF;
                }
            }

            .header__middle-link {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                .header__logo {
                    width: 136px;
                    height: 33px;
                    object-fit: cover;
                }
            }

            .header__right-link {
                text-decoration: none;
                padding: 10px;
                color: #FFF;
                border-left: 2px solid #386183;
                border-right: 2px solid #386183;
                display: flex;
                justify-content: center;
                align-items: center;
                

                &:hover {
                    background-color: #517899;
                }

                .header__user-icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
        }
    }

    .boody__section {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        background-color: #FFF;

        .body__wrapper {
            width: 70%;
            display: flex;
            gap: 50px;            

            .body__left {
                width: 300px;
                background-color: #EEF2F5;
                border-left: 3px solid #dfdfdf;
                border-right: 3px solid #dfdfdf;
            }

            .body__right {
                width: 100%;
                margin-top: 40px;

                .body__logo {
                    color: #06365f;
                    font-size: 45px;
                    font-weight: 500;
                }

                .alerts {
                    margin-top: 16px;
                    margin-bottom: 23px;

                    .alert__red {
                        color: #b94a5c;
                        background-color: #f2dede;
                        border-color: #eed3d7;
                        padding: 15px;
                        font-size: 16px;
                        border-radius: 5px;
                    }
                }

                .divider {
                    width: 100%;
                    height: 1px;
                    background-color: #DDDDDD;
                }

                .reset__form {
                    width: 40%;
                    margin-top: 25px;

                    label {
                        width: 100%;
                        font-size: 17px;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }

                    input {
                        padding: 10px;
                        width: 100%;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        -ms-border-radius: 4px;
                        -o-border-radius: 4px;
                        
                        &:focus {
                            background-color: #EEF2F5;
                            border: 3px solid #000;
                        }
                    }

                    .reset__button {
                        font-size: 17px;
                        font-weight: 500;
                        padding: 6px 12px;
                        border: 2px solid #dfdfdf;
                        background-color: #EEF2F5;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        -ms-border-radius: 4px;
                        -o-border-radius: 4px;
                    }


                }


            }
        }

    }

    .reset__footer {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #DDDDDD;

        .footer__wrapper {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                color: #1C5390;
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                }
            }

            .copyright__text {
                margin-bottom: 0px;
            }
        }
    }
   


}
